table {
    margin: auto;
    width: 100%;
    box-shadow: none;
    border: none;
}

#header-container {
    margin: 0 auto 0px auto;
    padding: 5px;
    width: calc(100% - 10px);
    border-radius: 5px 5px 0 0;
    min-height: 35px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: white;
}

input {
    outline: none;
    border: none;
    width: 100%;
}

.search-wrapper{
    height: 27px;
    width: calc(49%);
    min-width: 200px;
    border-bottom: 1px solid gray;
    padding: 2px;
    display: flex;
    align-items: center;
}

.search-wrapper:focus-within{
    border-bottom: 2px solid gray;
}


.paginator-wrapper {
    width: 49%;
}


/*For alternating colors on each row*/
.mat-row:nth-child(even){
    background-color: black;
}
        
.mat-row:nth-child(odd){
    background-color: black;
}

.mat-header-row {
    background-color:darkcyan;
}

.mat-header-cell {
    color: white;
    font-size: medium;
}

::ng-deep .mat-sort-header-arrow {
    color: white;
}